# The style used for all options not specifically set in the configuration.
BreakBeforeBraces: Allman

# The extra indent or outdent of access modifiers, e.g. public:.
AccessModifierOffset: -4

# The column limit. A column limit of 0 means that there is no column limit.
ColumnLimit: 0

# The way to use tab characters in the resulting file. Possible values: Never, ForIndentation, Always.
UseTab: Always

# The number of columns to use for indentation.
IndentWidth: 4

# The indentation used for namespaces. Possible values: None, Inner, All.
NamespaceIndentation: Inner

# If true, always break after the template<...> of a template declaration.
AlwaysBreakTemplateDeclarations: false
BreakConstructorInitializersBeforeComma: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true

# Allows contracting simple braced statements to a single line.
AllowShortBlocksOnASingleLine: false

# Dependent on the value, int f() { return 0; } can be put on a single line. Possible values: None, Inline, All.
AllowShortFunctionsOnASingleLine: Inline

# If true, if (a) return; can be put on a single line.
AllowShortIfStatementsOnASingleLine: false

# If true, while (true) continue; can be put on a single line.
AllowShortLoopsOnASingleLine: false

# Pointer and reference alignment style. Possible values: Left, Right, Middle.
PointerAlignment: Left

# If true, aligns escaped newlines as far left as possible. Otherwise puts them into the right-most column.
AlignEscapedNewlinesLeft: true

# If true, aligns trailing comments.
AlignTrailingComments: false

# If true, a space may be inserted after C style casts.
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true

FixNamespaceComments: false

# A vector of macros that should be interpreted as foreach loops instead of as function calls.
ForEachMacros: ['foreach', 'Q_FOREACH', 'BOOST_FOREACH']

IncludeBlocks:   Preserve
IncludeIsMainRegex: '(Test)?$'

# Indent case labels one level from the switch statement.
# When false, use the same indentation level as for the switch statement.
# Switch statement body is always indented one level more than case labels.
IndentCaseLabels: true
IndentPPDirectives: None
