[Desktop Entry]
Name=Wicked Engine
Name[ja]=ウィケッドエンジン
GenericName=Game engine
GenericName[ja]=ゲームエンジン
Comment=A 3D game engine focusing on modern rendering.
Comment[nl]=Een 3D game engine gefocust op moderne weergave.
Comment[ja]=現代のレンダリングに焦点を当てた3Dゲームエンジ・
Comment[pt]=Um engine de jogo 3D focado em renderização moderna.
Comment[pt_BR]=Um engine de jogo 3D focado em renderização moderna.
Keywords=3d;cg;modeling;animation;painting;texturing;rendering;render engine;game engine;lua;
Exec=wicked-engine
Icon=wicked
Terminal=true
Type=Application
Categories=Graphics;3DGraphics;
