name: Build

on:
  push:
    branches: [ master ]

jobs:

  windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - name: Initial compile
      shell: cmd
      run: |
        "C:/Program Files/Microsoft Visual Studio/2022/Enterprise/MSBuild/Current/Bin/MSBuild.exe" WickedEngine.sln /t:OfflineShaderCompiler /m /p:Configuration=Release /p:Platform=x64
    - name: Generate shader dump
      shell: cmd
      run: |
        cd "WickedEngine"
        "../BUILD/x64/Release/OfflineShaderCompiler/OfflineShaderCompiler.exe" hlsl6 spirv shaderdump strip_reflection
    - name: Recompile with shader dump
      shell: cmd
      run: |
        "C:/Program Files/Microsoft Visual Studio/2022/Enterprise/MSBuild/Current/Bin/MSBuild.exe" WickedEngine.sln /t:clean /m /p:Configuration=Release /p:Platform=x64
        "C:/Program Files/Microsoft Visual Studio/2022/Enterprise/MSBuild/Current/Bin/MSBuild.exe" WickedEngine.sln /t:Editor_Windows /m /p:Configuration=Release /p:Platform=x64
    
    - name: Move files
      shell: cmd
      run: |
        move BUILD\x64\Release\Editor_Windows\Editor_Windows.exe .\
        move Editor\config.ini .\
        move Editor\startup.lua .\
        move Editor\languages .\
        move Editor\fonts .\
        
    - name: Package Editor
      uses: actions/upload-artifact@v4
      with:
        name: Editor (Windows)
        path: |
          languages/
          fonts/
          config.ini
          startup.lua
          Editor_Windows.exe

    
  linux:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/cache@v4
      with:
        path: ~/.cache/ccache
        key: ccache-${{ github.run_id }}
        restore-keys: ccache
        save-always: true

    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install libsdl2-dev ccache

    - name: Initial compile
      run: |
        mkdir build
        cd build
        cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER_LAUNCHER=ccache
        CCACHE_NODIRECT=1 make -j$(nproc)
      
    - name: Generate shader dump
      run: |
        cd build/WickedEngine
        ./offlineshadercompiler spirv rebuild shaderdump
        mv wiShaderDump.h ../../WickedEngine/

    - name: Recompile with shader dump
      run: |
        cd build
        CCACHE_NODIRECT=1 make -B -j $(nproc)

        
    - name: Move files
      run: |
        mv build/Editor/WickedEngineEditor ./Editor_Linux
        mv Editor/config.ini ./
        mv Editor/startup.lua ./
        mv Editor/languages ./
        mv Editor/fonts ./
        
    - name: Package Editor
      uses: actions/upload-artifact@v4
      with:
        name: Editor (Linux)
        path: |
          languages/
          fonts/
          config.ini
          startup.lua
          Editor_Linux

  content:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - name: Package Content
      uses: actions/upload-artifact@v4
      with:
        name: Content
        path: |
          Content/Documentation
          Content/models
          Content/scripts
          Content/terrain
