name: Nightly Build

on:
  schedule:
    - cron:  '0 0 * * *'

jobs:
  
  windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2
      with:
        msbuild-architecture: x64

    - name: Initial compile
      shell: cmd
      run: |
        MSBuild WickedEngine.sln /t:OfflineShaderCompiler /m /p:Configuration=Release /p:Platform=x64
    - name: Generate shader dump
      shell: cmd
      run: |
        cd "WickedEngine"
        "../BUILD/x64/Release/OfflineShaderCompiler/OfflineShaderCompiler.exe" hlsl6 spirv shaderdump strip_reflection
    - name: Recompile with shader dump
      shell: cmd
      run: |
        MSBuild WickedEngine.sln /t:clean /m /p:Configuration=Release /p:Platform=x64
        MSBuild WickedEngine.sln /t:Editor_Windows /m /p:Configuration=Release /p:Platform=x64
    
    - name: Move files
      shell: cmd
      run: |
        move BUILD\x64\Release\Editor_Windows\Editor_Windows.exe .\
        move Editor\config.ini .\
        move Editor\startup.lua .\
        move Editor\languages .\
        move Editor\fonts .\

    - name: Package Editor
      uses: actions/upload-artifact@v4
      with:
        name: Editor (Windows)
        path: |
          languages/
          fonts/
          config.ini
          startup.lua
          Editor_Windows.exe

    
  linux:
    name: linux (gcc)
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install libsdl2-dev

    - name: Initial compile
      run: |
        mkdir build
        cd build
        cmake .. -DCMAKE_BUILD_TYPE=Release
        make -j$(nproc)
      
    - name: Generate shader dump
      run: |
        cd build/WickedEngine
        ./offlineshadercompiler spirv rebuild shaderdump
        mv wiShaderDump.h ../../WickedEngine/

    - name: Recompile with shader dump
      run: |
        cd build
        make -j $(nproc)
        
    - name: Move files
      run: |
        mv build/Editor/Editor ./Editor_Linux
        mv Editor/config.ini ./
        mv Editor/startup.lua ./
        mv Editor/fonts ./

    - name: Package Editor
      uses: actions/upload-artifact@v4
      with:
        name: Editor (Linux)
        path: |
          fonts/
          config.ini
          startup.lua
          Editor_Linux

  content:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - name: Package Content
      uses: actions/upload-artifact@v4
      with:
        name: Content
        path: |
          Content/Documentation
          Content/models
          Content/scripts
          Content/terrain
